.Navbar {
  padding: 20px;
 
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
   
  }
  ul {
    display: flex;
    gap: 20px;
    align-self: flex-end;
    list-style: none;
  }
  a {
    width: fit-content;
    text-decoration: none;
    color: black;
  }
  .userActions {
    display: flex;
  
  }
}
